@import "../../scss/styles.scss";

.create_first_container{
  background-color: #eff8ff;
  transition-duration: 300ms;
  border-radius: 0.5rem;

  &:hover{
    background-color: white;
    @extend %c_shadow;
  }

  .create_first_items_container{
    padding: 1rem;
    width: 100%;

    .create_first_desc{
      font-size: 0.9rem;
      color: gray;
    }

    .create_first_title{
      font-weight: 600;
      font-size: 1.2rem;
    }
    .create_first_options{
      margin-top: 0.5rem;
      display: flex;
      gap: 1rem;

      .create_first_option_item{
        display: flex;
        align-items: center;
        gap: 0.3rem;
        color:gray;
      }
    }

    .divider{
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 100%;
      background-color: #DDD;
      height: 1px;
    }

    .create_first_price_container{
      display: flex;
      align-items: center;
      gap: 1rem;

      .create_first_price{
        font-weight: 600;
        font-size: 1.2rem;
      }

      .create_first_price_desc{
        font-size: 0.9rem;
        color: gray;
        font-weight: 600;
      }
    }
  }
}