@import "../../scss/styles.scss";

.create_ticket_main_c {
    display: flex;
}

.create_ticket_container {
    display: flex;
    width: unset;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;

    .bg_img{
        position: absolute;
        z-index: -1;
    }

    .create_ticket_cont {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .create_ticket_add_container {
        margin: 1rem 2rem;
        display: flex;
        justify-content: space-between;

        @media (max-width: 700px) {
            flex-direction: column;
            width: unset;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .create_ticket_button {
            background-color: #1D63DC;
            color: white;
            width: 100%;
            margin-top: 2rem;
            font-size: 1rem;
            border-radius: 0.5rem;
            padding: 0.7rem 1rem;
            @extend %c_shadow;
        }
    }

    .create_user_container {
        z-index: 1;
        width: 350px;
        @extend %c_shadow;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 2rem;
        margin-left: 2rem;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 0.7rem;
        box-shadow: 1px 6px 9px -1px rgba(34, 60, 80, 0.2);

        @media (max-width: 700px) {
            padding: 1rem 1rem;
            margin-left: 0;
            width: 100%;
            margin-bottom: 1.5rem;
        }
    }

    .create_user_img {
        margin-top: 1rem;
        width: 100px;
        color: #1D63DC;
        border-radius: 100%;
    }

    .create_user_title {
        color: black;
        padding-top: 0.5rem;
        font-size: 1.3rem;
        font-weight: 600;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .create_user_inp_container {
        display: flex;
        margin-top: 0.5rem;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 100%;

        @extend %custom_input;

        .user_flight_info_container {
            padding: 0.5rem;
            z-index: 1;
            border-radius: 0.5rem;
            box-shadow: 5px 5px 10px rgba(0,0,0, 0.2);
            background: rgba(255, 255, 255, 0.1);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-right: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(3px);
        }

        .dropdown_container {

            .dropdown_content {
                z-index: 10;
                box-shadow: 1px 6px 9px -1px rgba(34, 60, 80, 0.2);
                margin-top: 0.5rem;
                width: 95%;
                position: absolute;
                padding: 0.5rem;
                background-color: white;
                border-radius: 0.5rem;

                .dropdown_item {
                    padding: 0.3rem;
                    cursor: pointer;
                    transition-duration: 200ms;

                    &:hover {
                        background-color: #f5f5f5;
                    }
                }
            }
        }

        .choice_flight_container {
            margin-top: 1rem;
            padding: 0.5rem;
            background-color: white;
            border-radius: 0.5rem;
            border: #B2BEB5 1px solid;
            z-index: 10;

            p {
                font-size: 1rem;

                span {
                    font-weight: 400;
                    text-decoration: underline;
                }
            }
        }

        .select_class_flight_container {
            background-color: white;
            display: grid;
            gap: 0.5rem;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 0.5rem;
            margin-top: 1rem;
            border-radius: 0.5rem;
            -webkit-box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);

            .item_container{
                align-items: center;
                background-color: #1D63DC;
                color: white;
                gap: 0.3rem;
                padding: 0.3rem;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                border-radius: 0.3rem;
                display: flex;
                -webkit-box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
                box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
                cursor: pointer;



                input{
                    max-width: 20%;
                }

                h4{
                    font-size: 0.9rem;
                }
            }

            .item {
                background-color: #1D63DC;
                color: white;
                padding: 0.3rem 0;
                text-align: center;
                border-radius: 0.3rem;
                -webkit-box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
                box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
                cursor: pointer;
            }
        }

        .select_payment_metod_container {
            margin-top: 1rem;
            z-index: 0;
            padding: 0.5rem;
            border-radius: 0.5rem;
            box-shadow: 5px 5px 10px rgba(0,0,0, 0.2);
            background: rgba(255, 255, 255, 0.1);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-right: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(3px);

            .payment_title {
                font-size: 1.1rem;
                font-weight: 600;
            }

            .selected_payment_container {
                padding: 0.7rem;
                margin-top: 1rem;
                display: flex;
                background-color: white;
                border-radius: 0.3rem;
                border: 2px whitesmoke solid;
                -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
                box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
                transition-duration: 300ms;
                cursor: pointer;
                align-items: center;
                gap: 0.5rem;

                input {
                    max-width: 15px;
                }

                p {
                    color: black;
                }

                &:hover {
                    border-color: #1D63DC;
                }

                .payment_metod_icon {
                    background-color: white;
                    padding: 0.3rem;
                    border-radius: 0.3rem;
                    color: black;
                    -webkit-box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
                    -moz-box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
                    box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
                }
            }
        
            .payment_card_enter_container{
                margin-top: 1rem;

                .payment_card_enter_flex{
                    display: flex;
                    gap: 1rem;
                }
            
            }
        
            .select_payment_total_container{
                margin: 1rem;
                display: flex;
                justify-content: space-between;

                .total{
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }
        }
    }
}