@import "../../scss/styles.scss";

.flight_container {
    height: 100vh;

    .flight_main_container {
        margin-top: 2rem;
        width:100%;
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        .flight_bg{
            position: absolute;
            z-index: -1;
        }
    }


    .flight_text_desc {
        color: gray;
        font-size: 1.5rem;
    }

    .flight_view_flight_container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .flight_view_hello_container{
            margin-bottom: 2rem;
            flex-direction: column;
            display: flex;
            gap: 0.5rem;

            h1{
                font-weight: 800;
                font-size: 2rem;
                color: #007FFE;
            }

            p{
                width: 100%;
                text-align: center;
                color: gray;
                font-weight: 600;
                font-size: 1.5rem;
            }
        }

        @media (max-width: 700px) {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .flight_view_container {
            align-items: center;
            display: flex;
            flex-direction: column;
            column-gap: 5rem;
        }
    }

}