.create_task_container{
    border-width: 1px;
    border-style: solid;
    border-color: #1D63DC;
    border-radius: 0.5rem;
    width: fit-content;
    
    .create_task_text{
        font-size: 1rem;
        font-weight: 500;
        margin: 0.2rem 1rem;
        padding-bottom: 0.2rem;
    }

    &:hover{
        border-width: 2px;
    }
}