@import "../../scss/styles.scss";


.create_ticket_gen_cont {
  background-color: aliceblue;
  -webkit-box-shadow: 9px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 9px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 9px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0.5rem;
  max-width: 200px;

  .create_ticket {
    padding: 1rem;
    border-radius: 0.5rem;

    .create_ticket_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .create_ticket_type {
        color: white;
        font-size: 0.7rem;
        background-color: #1D63DC;
        padding: 0.1rem;
        height: fit-content;
      }

      .create_ticket_flight {
        display: flex;
        align-items: center;

        h1 {
          font-size: 0.7rem;
          font-weight: 600;
        }

        .icon {
          margin: 0 0.5rem;
          color: #1D63DC;
        }
      }
    }

    .create_ticket_count {
      font-weight: 600;
      margin-top: 1rem;
      font-size: 1.4rem;
    }

    .create_ticket_item {
      display: flex;
      margin-top: 0.5rem;
      justify-content: space-between;

      .create_ticket_inform {
        display: flex;
        flex-direction: column;

        .title {
          color: gray;
          font-size: 0.7rem;
        }

        .desc {
          font-size: 0.8rem;
          font-weight: 600;
        }
      }
    }
  }
}

.create_ticket_center {
  max-width: 200px;
  height: 25px;
  background-image: radial-gradient(circle, transparent 72%, aliceblue 72%),
  repeating-linear-gradient(90deg, aliceblue 0, aliceblue 2%, gray 2%, gray 4%),
  linear-gradient(aliceblue, aliceblue),
  radial-gradient(circle, transparent 72%, aliceblue 72%);
  background-position: -12px 0, 12px 50%, 12px 0, calc(100% + 12px) 0;
  background-repeat: no-repeat;
  background-size: 25px 25px, calc(100% - 25px) 1px, calc(100% - 24px) 100%, 25px 25px;
}

.create_ticket_barcode {
  max-width: 200px;
  border-radius: 0.5rem;
  align-items: center;
  background-color: aliceblue;
  -webkit-box-shadow: 8px 12px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 12px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 12px 8px 0px rgba(34, 60, 80, 0.2);

  .create_ticket_barcode_container{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    width: 100%;
    font-weight: 600;
    padding-bottom: 1rem;
    text-align: center;
  }
}