@import "../../scss/styles.scss";

.main_table_view {
    background: white;

    .main_table_container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1240px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;

        @media (max-width: 700px) {
            margin: 0.7rem 1rem;
        }

        .main_table_title {
            font-size: 1.7rem;
            font-weight: 600;

            span{
                background-color: #1D63DC;
                color: white;
                border-top-right-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }
        }

        .right_container{
            display: flex;
            gap: 2rem;
        }

        .bag_container {
            padding: 1rem;
            -webkit-box-shadow: 1px 3px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 1px 3px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 1px 3px 8px 0px rgba(34, 60, 80, 0.2);
            border-radius: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
            cursor: pointer;
            flex-direction: column;
            position: relative;
            transition-duration: 100ms;

            &:hover {
                background-color: rgb(214, 214, 214);
            }

            .count {
                position: absolute;
                bottom: 0;
                border-radius: 100%;
                font-size: 0.8rem;
                font-weight: 600;
                width: 20px;
                height: 20px;
                right: 0rem;
                background-color: #1D63DC;
                color: white;
                display: flex;
                justify-content: center;
            }
        }
    }
}