@import "../../scss/styles.scss";

.flight_comp_container{    
    background-color:#1D63DC;
    border-radius: 0.3rem;
    position: relative;
    height: fit-content;
    padding: 2rem;
    margin-top: 2rem;
    cursor: pointer ;
    transition-duration: 300ms;

    &:hover{
        margin-top: 1rem;
    }

    .flight_comp_header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
    
        .flight_country_icon{
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 100%;
        }

        .flight_comp_f_info{
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .b_text{
                font-weight: 600;
                color: white;
                font-size: 1.3rem;
            }

            .flight_comp_hr{
                background-color: aliceblue;
                padding: 0.2rem 0.7rem;
                border-radius: 1rem;
                font-size: 0.7rem;
                font-weight: 600;
            }
        }
    }

    .flight_comp_desc{
        color: rgb(187, 187, 187);
        font-weight: 600;
    }

    .flight_comp_price_container{
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .flight_comp_price{
            font-size: 1.2rem;
            color: #bbbbbb;

            span{
                color: white;
                font-weight: 600;
                font-size: 1.3rem;
            }
        }

        .flight_comp_time{
            font-weight: 600;
            font-size: 0.9rem;
        }

        .sep_view{
            height: 30px;
            width: 1px;
            background-color:#bbbbbb;
        }
    }

    .flight_comp_btn_settings{
        position: absolute;
        @extend %c_shadow;
        background-color: black;
        align-items: center;
        color: white;
        cursor: pointer;
        top: -1.5rem;
        right: -1.5rem;
        justify-content: center;
        display: flex;
        transition-duration: 300ms;
        width: 60px;
        height: 60px;
        border-radius: 100%;

        &:hover{
            width: 70px;
            height: 70px;
        }
    }
}